<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace就是与此文件对应的Dao接口的全路径-->
<mapper namespace="com.gps.dao.FileDao" >
 <resultMap id="FileResultMap" type="com.gps.entity.File" >
 	<id column="fileId" property="fileId"/>
 	<result column="fileName" property="fileName"/>
 	<result column="fileUrl" property="fileUrl"/>
 	<result column="fileType" property="fileType"/>
 	<result column="createDate" property="createDate"/>
 	<result column="operator" property="operator"/>
 	<result column="status" property="status"/>
 	<result column="description" property="description"/>
 	<result column="sort" property="sort"/>
 </resultMap>
<select id="getFiles" resultMap="FileResultMap">
	SELECT fileId,fileName,fileUrl,fileType,createDate,operator,description,status FROM file where status=1 order by sort asc
</select>
<insert id="saveFile" parameterType="com.gps.entity.File">
	INSERT INTO file(fileId,fileName,fileUrl,fileType,createDate,operator,status,description,sort) VALUES (#{fileId},#{fileName},#{fileUrl},#{fileType},#{createDate},#{operator},#{status},#{description},#{sort});
</insert>
<update id="deleteFileById" parameterType="String">
	UPDATE file SET status=0 WHERE fileId=#{0}
</update>
</mapper>